.bar{
    width:100%;height:480px;margin:0 auto;

}

.avg{
    width:15%;height:100%;float:left;text-align:left;
}

.bar_avg{
    height:10%;text-align:center;vertical-align: bottom;line-height:70px;width:100%;font-weight:bold;
}

.bar_line{
    width:100%;height:16%;vertical-align:top;border-top:3px solid #5EB11A;
    text-align:right;
    font-weight:bold;
      background: linear-gradient(to right, 
	                              transparent 0%, 
	                              transparent calc(50% - 0.81px), 
	                              black calc(50% - 0.8px), 
	                              black calc(50% + 0.8px), 
	                              transparent calc(50% + 0.81px), 
	                              transparent 100%); 
}

.line{
      width:100%;
      background: linear-gradient(to right, 
	                              transparent 0%, 
	                              transparent calc(50% - 0.81px), 
	                              black calc(50% - 0.8px), 
	                              black calc(50% + 0.8px), 
	                              transparent calc(50% + 0.81px), 
	                              transparent 100%); 
}

/*.bar_line:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dotted #ff0000;
    transform: translate(-50%);
}*/

.bar_block{
    width:15%;height:100%;float:left;
}

.bar_grow{
    height:100%;text-align:center;width:100%;position:relative;
}

.bar_title{
    width:100%;height:0%;vertical-align:top;text-align: center;font-weight:bold;
}

.teacher{
    width:30%;background-color:#326807;float:left;position:absolute;bottom:0;left:20%;
}

.teacher:hover{
    background-color:green;
}

.student{
    width:30%;background-color:#76DC23;float:left;left:55%;position:absolute;bottom:0;
}

.student:hover{
    background-color:yellow;
}

#a1::after{
     content: attr(data-before);
    top:-20px;
   right:15px;
    position:absolute;
    text-align:center;
    color:#1050A2;
    font-weight:bold;
    left:5px;
}


#a2::after{
     content: attr(data-before);
    top:-20px;
   right:15px;
    position:absolute;
    text-align:center;
    color:#1050A2;
    font-weight:bold;
    left:5px;
}


#a3::after{
     content: attr(data-before);
    top:-20px;
   right:15px;
    position:absolute;
    text-align:center;
    color:#1050A2;
    font-weight:bold;
    left:5px;
}


#a4::after{
     content: attr(data-before);
    top:-20px;
   right:15px;
    position:absolute;
    text-align:center;
    color:#1050A2;
    font-weight:bold;
    left:5px;
}

#a5::after{
     content: attr(data-before);
    top:-20px;
   right:15px;
    position:absolute;
    text-align:center;
    color:#1050A2;
    font-weight:bold;
    left:5px;
}


#b1::after{
     content: attr(data-before);
    top:-20px;
   right:15px;
    position:absolute;
    text-align:center;
    color:#1050A2;
    font-weight:bold;
    left:5px;
}

#b2::after{
     content: attr(data-before);
    top:-20px;
   right:15px;
    position:absolute;
    text-align:center;
    color:#1050A2;
    font-weight:bold;
    left:5px;
}


#b3::after{
     content: attr(data-before);
    top:-20px;
   right:15px;
    position:absolute;
    text-align:center;
    color:#1050A2;
    font-weight:bold;
    left:5px;
}


#b4::after{
     content: attr(data-before);
    top:-20px;
   right:15px;
    position:absolute;
    text-align:center;
    color:#1050A2;
    font-weight:bold;
    left:5px;
}

#b5::after{
    content: attr(data-before);
    top:-20px;
   right:15px;
    position:absolute;
    text-align:center;
    color:#1050A2;
    font-weight:bold;
    left:5px;
}